.container {
  background-color: rgba(44, 42, 42, 0.8);
  color: #eeebeb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 70px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.column {
  width: 50%;
}

.description {
  background-color: #333;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 40px;
  max-width: 500px; /* Adjust this to your needs */
}

.socials {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-right: 100px;
  position: relative; /* Ensure positioning for tooltips */
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  text-decoration: none;
  color: inherit; /* Ensure icons inherit the color */
  position: relative;
}

.socials svg {
  width: 100%;
  height: 100%;
  fill: #fff; /* Default icon color */
  transition: fill 0.3s; /* Smooth transition for hover effect */
}

.socials a:hover svg {
  fill: #a64d79; /* Change to purple on hover */
}

.socials a::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-size: 12px;
}

.socials a:hover::after {
  opacity: 1;
  visibility: visible;
}

.animeContactContainer {
  display: flex;
  justify-content: space-between;
}

.anime,
.contact {
  width: 100%;
  margin-bottom: 0px;
  margin: 0%;
}
.contact {
  width: 50%;
}

.animeImage img,
.contactImage img {
  margin-top: 3%;
  width: 100%; /* Adjusted to fit the container */
  border-radius: 5px;
}

.schedule {
  width: 100%;
}

.scheduleTable {
  width: 100%;
  border-collapse: collapse;
}

.scheduleTable th,
.scheduleTable td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

.scheduleTable th {
  background-color: hsla(315, 68%, 19%, 0.658); /* Existing color */
  color: #fcfcfc; /* Ensure text color is white for contrast */
}

.scheduleTable tr:first-child {
  background-color: hsla(315, 67%, 19%, 0.205); /* Existing color */
  color: #fcfcfc; /* Ensure text color is white for contrast */
}

.footer {
  text-align: center;
  margin-top: 5px;
}
